extends ../pug/base/default
//- block main 
//-     main
//-       //- .row.text-tile
//-       //-     .col-xs-12.col-md-6.text-tile--center
//-       //-         .text-tile--container
//-       //-             .text-tile--heading About Us
//-       //-             p A posuere scelerisque gravida facilisi parturient magna urna donec parturient per augue a amet quam nullam a ad a. Parturient velit imperdiet in suspendisse eget a parturient adipiscing penatibus convallis himenaeos felis torquent facilisi elementum a penatibus suscipit aliquam.
//-       //-             p Porta at at suspendisse dolor fames ullamcorper cum id per suspendisse a dignissim eu dapibus platea turpis augue mi proin lorem morbi sapien facilisis lectus.
//-       //-     .col-xs-12.col-md-6.text-tile--image
//-       //-         img(src="/img/Image.png", alt="Image")